body {
    width: 100%
    background-color: rgb(240, 240, 240);
}

header {
    background-color: rgba(161, 201, 161, 0.883);
    height: 175px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: rgb(5, 58, 51);
    font-weight: bold;
    font-size: 50px;
}

#headerdiv {
    /* border: 1px solid yellow; */
    width: 900px;
    height: 175px;
    margin: auto;
}

header h1 {
    /* border: 1px solid blue; */
    width: 700px;
    padding-top: 40px;
}

header img {
    max-width: 100px;
    height: auto;
    /* border: 1px solid red; */
    padding-top: 10px;
}

#left-bus {
    float: left;
}

#right-bus {
    float: right;
}

#maindiv {
    width: 99%;
    height: auto;
    padding-top: 20px;
    /* border: 1px solid green; */
    display: inline-block;
}

#result-house {
    width: 20%;
    height: 500px;
    /* border: 1px solid purple; */
    float: left;
    background-color: rgba(177, 179, 177, 0.465);
}

#image-house {
    width: 79%;
    height: 500px;
    /* margin-left: 100px; */
    /* border: 1px dotted purple; */
    background-color: white;
    text-align: center;
}

table {

}

th {
    font-weight: bold;
    width: 120px;
}

ul {
    padding-left: 35px;
}

img {
    max-width: 300px;
    height: auto;
}