body {
    width: 100%
    background-color: rgb(240, 240, 240);
}

header {
    background-color: rgba(161, 201, 161, 0.883);
    height: 175px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: rgb(5, 58, 51);
    font-weight: bold;
    font-size: 65px;
}

#headerdiv {
    width: 900px;
    height: 175px;
    margin: auto;
}

header h1 {
    /* font-size: 65px; */
    width: 800px;
    padding-top: 40px;
}

header img {
    max-width: 100px;
    height: auto;
    padding-top: 10px;
}

#left-bus {
    float: left;
}

#maindiv {
    width: 99%;
    height: auto;
    padding-top: 20px;
    display: inline-block;
}

#instructions {
    width: 24%;
    height: 500px;
    text-align: center;
    float: left;
    background-color: rgba(177, 179, 177, 0.465);
    overflow: scroll;
}

#image-house {
    width: 75%;
    height: 500px;
    background-color: white;
    text-align: center;
}

p {
    font-size: 24px;
}

h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgba(5, 15, 5, 0.603);
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
}

ul {
    padding-left: 15px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
}

img {
    max-width: 230px;
    height: auto;
}